@tailwind base;
@tailwind components;
@tailwind utilities;
/* clamp initial logo size */
#navbar-logo {
    height: 2.75rem !important;    /* same as h‑11 */
    transition: height 0.3s ease;
  }
  /* once scrolled, shrink it further */
  #mainNav.scrolled #navbar-logo {
    height: 2rem !important;       /* same as h‑8 */
  }
  